{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
</head>
<body>
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'about_us' %}">About Us</a>
<a href="{% url 'contact' %}">Contact</a>
<a href="{% url 'gallery' %}"> Gallery</a>
<a href="{% url 'services' %}"> Services</a>
<h1>Contact Us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores atque nesciunt porro,
    quasi quisquam ratione? A adipisci earum, eos excepturi fugit iste nesciunt odio omnis,
    perspiciatis praesentium quibusdam ut vero.</p>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore dolores est labore magni
    maxime, necessitatibus nesciunt perferendis rem similique voluptatibus? Accusantium cupiditate
    dolor dolores enim harum molestiae natus obcaecati ullam!</span><span>Doloribus fuga molestiae
    nam veniam? Dignissimos dolorem doloribus, eum fuga harum impedit in, ipsam laudantium molestiae
    non optio placeat, provident reprehenderit? Alias animi deserunt eaque molestiae nostrum omnis
    sequi veniam!</span><span>Aliquid animi est fugiat incidunt ullam! Amet exercitationem ipsa molestias
    necessitatibus nemo tenetur. Culpa dicta doloremque enim fugiat in ipsam, minima nulla optio sed sit
    suscipit unde vero voluptatibus! Facilis!</span></p>

</body>
</html>