<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<a href="">Home</a>
<a href="about/">About</a>
<h2>Online Class Django</h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur aut autem cupiditate dolorum in laborum, magnam magni nam nisi nobis nostrum numquam provident quo repellendus similique soluta sunt unde?</span><span>A accusantium culpa deserunt dolorem facere ipsam nam necessitatibus nesciunt nisi, quod, suscipit temporibus, veniam voluptates. Ad dolore eaque earum incidunt laborum, maxime molestiae necessitatibus non omnis perferendis ullam, veniam.</span><span>Ab alias aliquam amet aspernatur consequuntur cum debitis deleniti dicta doloremque enim ex facere in, molestias mollitia neque, non numquam optio, placeat
    praesentium provident quae quasi quia saepe sunt voluptatem?</span></p>
</body>
</html>